@model IEnumerable<CrudTest.Models.DocumentoIdentificacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Documentos</h1>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentoIdentificacaoId">Editar</a>
                <a asp-action="Details" asp-route-id="@item.DocumentoIdentificacaoId">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.DocumentoIdentificacaoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
